<header class="website-header">
    <h1 class="website-title"><a href="/">Aastha</a></h1>
    <nav class="navbar">
        <a href="/now">Now</a>
        <a href="/blog/">Writing</a>
        <a href="/contact/">Contact</a>
    </nav>
</header>