:root {
  --white: #fff;
  --text: #333;
  --font-size-regular: 1.3em;
}

html{
  box-sizing: border-box;
}

*, *::after, *::before{
  box-sizing: inherit;
}

body {
  background-color: var(--white);
  color: var(--text);
  font-family: serif;
  line-height: 1.8em;
  padding: 1em;
}

.wrapper {
  max-width: 60em;
  margin:auto;
}

.website-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

a {
  color: inherit;
}

.website-header nav {
  text-align: right;
  flex-grow: 1;
  align-self: center;
}

.website-header nav a {
  margin-left: 1em;
}

.website-title {
  font-size: 28px;
  font-weight: bolder;
  text-decoration: none;
  flex-grow: 2;
}

main {
  width: 75%;
  margin: 5em;
}

h1 {
  line-height: 1.2rem;
}

main nav ul a {
  color: inherit;
}

footer {
  text-align: center;
  font-style: normal;
  font-family: monospace;
}

@media (max-width: 700px) {
  header {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1.5rem;
    list-style-type: none;
  }

  main {
    width: 80vw;
    margin: 0 auto;
  }

  main p {
    font-size: 1em;
    line-height: 1.6;
    text-align: left;
  }

  h1 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.1rem;
  }
}
