@keyframes link-hover {
  from {
    color: white;
  }
  to {
    color: #ffbb00;
  }
}

body {
  font-family: "Inconsolata", monospace;
  background-color: #060606;
  background-attachment: fixed;
  background-repeat: repeat;
  background-image: url("https://raw.githubusercontent.com/RVCC-IDMX/style-stage-ericbrown8787/219962e8bec57cbe719315ecc4a24e6c62ac2c2f/circuits.svg");
}

header {
  margin-bottom: 1.5rem;
  margin-top: 2rem;
  list-style-type: none;
  justify-content: center;
  display: flex;
  padding: 1rem;
  border-radius: 8px;
  min-height: 10vh;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

header a {
  color: #fff;
  font-variation-settings: "wght" 650, "wdth" 120;
  font-weight: 800;
  line-height: 1.2;
  font-size: clamp(0.8rem, calc(0.8rem + 1vw), 1.5rem);
  text-transform: lowercase;

  text-decoration: none;
}

header a:hover,
main a:hover {
  color: #ffbb00;
  animation-name: link-hover;
  animation-duration: 1s;
}

header a::after {
  content: " }";
  white-space: nowrap;
}

header a::before {
  content: "{ ";
  white-space: nowrap;
}

main {
  width: 50vw;
  margin: 0 auto;
  color: #fff;
}

main p {
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.5;
}

main a {
  color: #b12292;
  text-decoration: none;
  font-weight: 800;
}

h1 {
  padding-top: 20px;
  color: beige;
}

@media (max-width: 700px) {
  header {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1.5rem;
    list-style-type: none;
  }

  main {
    width: 80vw;
    margin: 0 auto;
  }

  main p {
    font-size: 1em;
    line-height: 1.6;
    text-align: left;
  }

  h1 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.1rem;
  }
}
