nav {
    color: black;
    position: relative;
}

nav ul li {
    list-style-type: none;
    padding: 0 10px;
    align-items: center;
    font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    color: black;
    text-decoration: none;
    font-family: arial,sans-serif;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    padding-left: 32px;
    text-align: centre;
}


#moreapps {
    margin-top: 0;
    display: flex;
}

#moreapps li img{
    opacity: 0.6;
}

#moreapps li img:hover{
    border: 1px solid rgba(160, 156, 156, 0.61);
    border-radius: 24px;
    padding: 2px;
    background-color: rgba(160, 156, 156, 0.61);
}

#sign-in{
    background: #1a73e8;
    border: 1px solid transparent;
    margin-bottom: 0;
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
    margin-left: 10px;
    margin-right: 8px;
    min-width: 96px;
    padding: 9px 9px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    box-sizing: border-box;
    color: white;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}

#logo {
    padding-bottom: 20px;
}

#search-bar {
    font-size: 14px;
    font-family: arial,sans-serif;
    border-radius: 24px;
    margin: 0 auto;
    height: 38px;
    max-width: 584px;
    display: flex;
    flex-flow: row wrap;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    padding: 5px 8px 0 16px;
}

#search-bar:hover{
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}
#search-icon-container{
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
}
.material-icons {
    margin: auto;
    opacity: 0.4;
}

#query{
    white-space: pre;
    background-color: transparent;
    width: 500px;
    border: none;
    font-size: 16px;
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    outline: none;
    height: 34px;
    font-size: 16px;
}

#query:active{
    border: none;
}

#buttons {
    height: 70px;
    padding-top: 18px;
    display: flex;
}

#buttons a {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    font-family: arial,sans-serif;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

#buttons a:hover {
    border: 1px solid rgba(206, 202, 202, 0.658);
    box-shadow: #787879;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
    margin-bottom: 0px;
    background-color: #f2f2f2;
}

footer a {
    padding: 15px;
    color: #70757a;
    font-size: 14px;
    font-family: arial,sans-serif;
}
