---
title: Get in Touch
layout: 'base.njk'
---

<main>
  <h1>Get in touch</h1>
  <p>Although I feign indifference, I like knowing that someone looked at my little corner of the internet. So if you'd like to contact me, shoot me an email. My email address is at the bottom of this page.</p>
  <p>You can also follow me on <a href="https://bookwyrm.social/user/nanopasta/">Bookwyrm</a> or <a href="https://www.linkedin.com/in/aasthas9/">LinkedIn</a>.</p>
</main>
  