---
title: Home - Aastha S
layout: 'base.njk'
---

<main>
  <h1>Home</h1>
  <p>
    Hi, I'm Aastha. I work on <a href="https://beabee.io/">Beabee</a> at <a href="correctiv.org">CORRECTIV</a>. I studied Biology because I was fascinated by brains. Then, I studied
    Cognitive Science to learn how/if brains lead to behaviour. I enjoy writing code, reading, playing
    badminton, and talking about food, culture, and philosophy.
    <br/>Some things I care about:
    <a href="https://en.wikipedia.org/wiki/Internet_freedom">Internet freedom</a>, privacy, AI ethics, intersectional feminism. <br/>I am a volunteer at
    <a href="https://librivox.org/">Librivox</a>
    and
    <a href="https://correlaid.org/">CorrelAid e.V.</a>.
  </p>
  <nav>
    <ul>
      <li>
        See my
        <a href="/now">now</a>
        page for what I have been up to
                        lately
      </li>
      <li>
        See my
        <a href="/blog">writing</a>
        page for some things I've written
      </li>
      <li>
        See my
        <a href="/projects">projects</a>
        page for my little programming nuggets
      </li>
    </ul>
  </nav>
  <br/>
  <h2>Get in Touch</h2>
  <nav>
    <ul>
      <li>
        <a href="https://mastodon.social/@aasthas">Mastodon</a>
      </li>
      <li>
        <a href="https://bookwyrm.social/user/nanopasta">Bookwyrm</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/aasthas9/">LinkedIn</a>
      </li>
      <li>
        mailto: hello (at) aastha (dot) sh
      </li>
    </ul>
  </nav>
</main>