---
title: Home - Aastha S
layout: 'base.njk'
---

<main>
  <h1>Home</h1>
  <p>
    Hi, I'm Aastha. I'm a software developer based in Berlin. I studied Biology
    at the University of Delhi because I was fascinated by brains. Then I
    went to the Indian Institute of Technology-Kanpur to study Cognitive
    Science and learn how/if brains lead to behaviour. I
    enjoy writing code and discovering new things about computers and
    networks. I also like reading, cooking, drinking coffee, theatre,
    and talking about food, culture, and philosophy.
    <br /> I am a volunteer at the <a href="https://blindrelief.org/">Blind Relief Association, Delhi</a> and <a href="https://rueckenwind.berlin/">Rückenwind e.V. Berlin</a>.
  </p>
  <nav class="links-list">
    <ul>
      <li>
        See my <a href="/now">now</a> page for what I have been up to
        lately
      </li>
      <li>
        See my <a href="/blog">writing</a> page for some things I've written
      </li>
      <li>
        See my <a href="/uses">uses</a> page for the things I use
        often
      </li>
    </ul>
  </nav>
  <br />
</main>