---
title: Home - Aastha S
layout: 'base.njk'
---

<main>
  <h1>Home</h1>
  <p>
    Hi, I'm Aastha. I am a software engineer working on <a href="https://beabee.io/">Beabee</a> at <a href="correctiv.org">CORRECTIV</a>. I studied Biology because I was fascinated by brains. Then, I studied
    Cognitive Science to learn how/if brains lead to behaviour. When I was 10 years old, I started working at All India Radio, and it led to a nearly 10-year long tryst with the radio and broadcasting industry.
    <br />
    I enjoy writing code, reading, playing
    badminton, and talking about food, culture, and philosophy.
    <br/>Some things I care about:
    <a href="https://en.wikipedia.org/wiki/Internet_freedom">Internet freedom</a>, privacy, intersectional feminism. I am a volunteer at <a href="https://librivox.org/">Librivox</a>
    and <a href="https://correlaid.org/">CorrelAid</a>.
  </p>
  <nav>
    <ul>
      <li>
        See my
        <a href="/now">now</a>
        page for what I have been up to
                        lately
      </li>
      <li>
        See my
        <a href="/blog">writing</a>
        page for some things I've written
      </li>
      <li>
        See my
        <a href="/projects">projects</a>
        page for my little programming nuggets
      </li>
            <li>
        See my
        <a href="https://www.youtube.com/@kitaabkhaana">Youtube</a>
        for some stories I've recorded
      </li>
    </ul>
  </nav>
</main>