---
title: Now
layout: 'base.njk'
---

<main>
  <h1>Now</h1>
  <p><i>Updated on April 25th, 2026.</i></p>
  <p>
    Much has happened in 2026. I switched jobs and started working at <a href="https://correctiv.org/">CORRECTIV</a>. Between jobs, I travelled to Italy, Switzerland and India. I am also learning how to drive, which is both exciting and daunting.
    <br />
    In March 2026, I got to speak to Prof. Sudha Bharadwaj about her book 'Phansi Yard' as part of my book club. That by itself was a big moment, but I attended this book club while sitting outside the Colosseum in Rome. :)
  </p>
  <h2>Whats this page is about?</h2>
  <p>See <a href="https://nownownow.com/about">https://nownownow.com/about</a></p>
</main>