---
title: Now
layout: 'base.njk'
---

<main>
  <h1>Now</h1>
  <p><i>Updated on September 9th, 2025.</i></p>
  <p>
    Participated in ML4Good Germany in September 2025, met cool people, learnt a bunch about AI safety and governance.
  </p>
  <nav>
    <p>Things/places/people I have discovered recently:</p>
    <ul>
      <li> <a href="">ML4Good</a> for folks interested in AI Safety </li>
      <li> Rückenwind eV: Really ventured outside my comfort zone and started repairing bicycles at Rückenwind</li>
    </ul>
  </nav>
  <h2>What's this page about?</h2>
  <p>See <a href="https://nownownow.com/about">https://nownownow.com/about</a></p>
</main>