---
title: Now
layout: 'base.njk'
---

<main>
  <h1>Now</h1>
  <p><i>Updated on May 22nd, 2026.</i></p>
  <p>
    I purchased a RØDE mic for myself as a birthday present. I have been recording Hindi short stories for my family and really enjoying it. I'd like to post these stories somewhere, but I haven't decided where, yet. I also passed the theory component of my driving exam. 
    <br />
    I finished reading 'The Fellowship of the Ring' and 'The Housekeeper and the Professor'. Very slowly making my way through 2 other books, before I start anything new.
    <br />
    On the work front, I am writing tests for Beabee and (still) struggling with MacOS.
  </p>
  <h2>Whats this page is about?</h2>
  <p>See <a href="https://nownownow.com/about">https://nownownow.com/about</a></p>
</main>