---
title: Projects
layout: 'projectbase.njk'
---

<main>
   <h1>Some things I made</h1>
   <p>I've realized I love looking at my old programming projects. They're not much, but they're a reminder of how far I've come, though I may not realize it.</p>
   <ol id="projects">
      <li>
        <h3>Interactive Stealing Dilemma Game</h3>
        <p>
          Written in Python and PyGame. <a href="https://github.com/aasthas97/gui-abm/" target="_blank">Code</a>
        </p>
      </li>
      <li>
        <h3>The Odin Library</h3>
        <p>
          Reading tracker, made during The Odin Project's Foundation Course. Written in HTML, CSS and JavaScript.<a href="/projects/library/" target="_blank">Live preview</a>
        </p>
      </li>
      <li>
        <h3>Recipes</h3>
        <p> Made for a friend. Written in HTML, CSS and JavaScript. <a href="/projects/web-cookbook/" target="_blank">Live preview</a></p>
      </li>
      <li>
        <h3>Rock, Paper, Scissors</h3>
        <p>The classic game, made during The Odin Project's Foundation Course. Written in HTML, CSS and JavaScript.<a href="/projects/rockpaper/" target="_blank">Live preview</a></p>
      </li>
      <li>
        <h3>Berlin, Caffeinated</h3>
        <p>Drinking coffee in Berlin. Written in HTML, CSS and JavaScript.<a href="/projects/berlin-caffeinated/" target="_blank">Live preview</a></p>
      </li>
      <li>
        <h3>Etch-A-Sketch</h3>
        <p>Digital sketchboard, made during The Odin Project's Foundation Course. Written in HTML, CSS and JavaScript.
          <a href="/projects/etch-sketch/" alt="Etch A Sketch" target="_blank">Live preview</a>
        </p>
      </li>
      <li>
        <h3>Tic Tac Toe</h3>
        <p>
          Written in HTML, CSS and JavaScript. At some point, I would like to make the gameplay a little more <i>intelligent</i>.
          <a href="/projects/tictactoe/" alt="Tic Tac Toe" target="_blank"
            >Live preview</a
          >
        </p>
      </li>
    </ol>
</main>