---
title: Books I've Read
layout: 'base.njk'
---

<main>
  <h1>Books</h1>
  <p>I love reading fiction. Every year, I make a promise to read more non-fiction and every year, I fail to deliver.</p>
  <ul class="book-cards">
{%- for book in collections.books -%}
  <li class="book-card">
    <div class="book-card__info">
      <a href="{{ book.url }}" class="book-card__title">
        {{ book.data.title }} - {{ book.data.author }}
      </a>
      <p class="book-card__summary">{{ book.data.summary }}</p>
    </div>
    {% if book.data.cover %}
      <img
        src="{{ book.data.cover }}"
        alt="Cover of {{ book.data.title }}"
        class="book-card__cover"
      />
    {% endif %}
  </li>
{%- endfor -%}
</ul>
  Some other books that I read but did not feel particularly inclined to write about were: Red Mars, Chhaunk
</main>
  