---
title: Uses
layout: 'base.njk'
---

<main style="line-height: 250%">
  <h1>Things I use</h1>
  <h2>Hardware</h2>
  <nav class="links-list">
    <ul>
      <li>HP Envy x360</li>
      <li>Dell Optiplex 7050</li>
      <li>Kindle Paperwhite</li>
      <li>Bowers and Wilkins Px7 S2</li>
      <li>Soundcore Motion Boom</li>
      <li>Google Pixel 7A</li>
      <li>
        Knives:
        <a
          href="https://thesharpchef.co.uk/products/masutani-vg10-damascus-small-santoku-japanese-chef-knife-130mm"
          >Santoku 1</a
        >,
        <a
          href="https://www.victorinox.com/en-GB/Products/Cutlery/Chef's-Knives/Swiss-Classic-Santoku-Knife-fluted-edge/p/6.8523.17B"
          >Santoku 2</a
        >, Wüsthof Butcher Knife
      </li>
      <li>Optimum X20 Mini Oven</li>
      <li>Raspberry Pi</li>
    </ul>
  </nav>
  <h2>Software</h2>
  <nav class="links-list">
    <ul>
      <li><a href="https://vscodium.com/">VSCodium</a></li>
      <li>Obsidian, Quillpad, Notion</li>
      <li><a href="https://github.com/koreader/koreader">Koreader</a></li>
      <li>Signal</li>
      <li>Librewolf and Chromium</li>
      <li>Home Assistant</li>
    </ul>
  </nav>
</main>